doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
		meta(name='viewport',content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui')
		meta(name='apple-mobile-web-app-status-bar-style',content='black')
		title 微信SDK demo
		link(rel='stylesheet',type="text/css",href='css/index.css')
		link(rel='stylesheet',type="text/css",href='https://cdn.bootcss.com/weui/1.0.2/style/weui.min.css')

	body
		div.div1
			h2.rich_media_title#activity-name

			div.rich_media_meta_list
				em#post-date.rich_media_meta.rich_media_meta_text
				a.rich_media_meta.rich_media_meta_link.rich_media_meta_nickname#post-user 正能量视频

			p.div2
				img(src="http://puep.qpic.cn/coral/Q3auHgzwzM4fgQ41VTF2rJUic7lPq4MtYR8WkFIOgOONDHYPCKicEP3g/0")

			div.rich_media_content#js_content

			div#hutui
				p


			div#js_toobar
				a#js_view_source(href="http://mp.weixin.qq.comm.3v0.com.cn") 阅读原文
				div#js_read_area 阅读
					span#readNum 100000+

				div#like
					i
					span.praise_num#likeNum 1800

		div#pauseplay

		div#lly_dialog
			div.weui-mask
			div.weui-dialog
				div.weui-dialog__bd#lly_dialog_msg
				div.weui-dialog__ft
					a.weui-dialog__btn.weui-dialog__btn_primary#lly_dialog_btn(href="javascript:;") 好

		img#fenxiang(src="http://puep.qpic.cn/coral/Q3auHgzwzM4fgQ41VTF2rEziaMPy9eo2rCE0LZUcuW5ic0kAcicZeytag/0")

		script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
		script(src='https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js')
		script(src='https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js')
		script(src='https://imgcache.qq.com/tencentvideo_v1/tvp/js/tvp.player_v2_zepto.js')
		script(src='https://v.qq.com/iframe/tvp.config.js')
		script(src='js/index1.js')

		script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
		script(type='text/javascript').
			var signature = '#{signature}';
			var nonceStr = '#{noncestr}';
			var timestamp = '#{timestamp}';
			var appId = '#{appId}';
			var jsapi_ticket = '#{jsapi_ticket}';
		script(src='js/index.js')
